.root {
	display: flex;
	width: 100%;
	height: 100%;
}

.mobile-root {
	flex-direction: column;
	.
	inactive
	{
	display
	:
	none;
}

}
.signin-wrapper {
	flex-grow: 1;
	background: rgb(244, 244, 245);
	transition: all 0.32s ease-in;
	margin-bottom: -100px;
}

.active {
	flex-grow: 6;
	&.
	form
	{
	z-index
	:
	5;
}

}
html, body {
	font-family: 'Roboto';
	height: 100vh;
	padding: 0;
	margin: 0;
}

.form, .form-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-wrapper {
	background-color: white;
	width: 700px;
	height: 1100px;
	padding: 0px 0;
	margin: 20px auto;
	border-radius: 15px;
}

button {
	cursor: pointer;
	font-weight: bold;
	width: 230px;
	margin: 0 0 0 150px; /* 여백을 오른쪽으로 조절 */
	height: 45px;
	padding: 6px 15px;
	border-radius: 5px;
	outline: none;
	border: none;
	font-size: 14px;
}

.button.secondary {
	background: white;
	color: #0F3758;
	&:
	hover
	{
	background
	:
	#f5f5f5;
}

}
.input, select {
	font-weight: bold;
	width: 200px;
	margin: 0 35px 20px;
	height: 35px;
	padding: 6px 15px;
	border-radius: 5px;
	outline: none;
	border: none;
	background: #f5f5f5;
	color: #748194;
	font-size: 14px;
}

.button.primary {
	color: white;
	background: #0F3758;
}

h2 {
	color: #212121;
	font-size: 20px;
	margin: 0 auto 30px; /* 기본 마진 초기화 및 가운데 정렬 */
	text-align: center;
}

p {
	color: #424242;
	font-size: 14px;
	text-align: center; a { cursor : pointer;
	color: #0F3758;
	&:
	hover
	{
	color
	:
	#009688;
}

}
}
input[type="button"] {
	cursor: pointer;
	font-weight: bold;
	width: 100px; /* 버튼의 너비 조정 */
	margin: 0 35px 20px; /* 마진 조정 */
	height: 35px;
	padding: 6px 15px;
	border-radius: 5px;
	outline: none;
	border: none;
	font-size: 14px;
	color: white;
	background: #0F3758; /* 남색으로 변경 */
}

.message {
	color: blue;
}

.error-message {
	color: red;
}

/* 버튼 정렬을 위한 스타일 추가 */
.button-container {
	display: flex;
	justify-content: space-between;
}

/* 버튼 스타일 수정 */
.button.primary {
	align-self: flex-end;
}

/* 이메일 입력란과 버튼 사이의 간격을 조절합니다 */
.email-container {
	display: flex;
}

.email-container input {
	margin-right: 10px;
	margin-bottom: 20px;
}

/* 입력란과 버튼 사이의 간격을 조절합니다 */
.verification-container {
	display: flex;
}

.verification-container input {
	margin-right: 10px;
}

/* 모든 요소를 오른쪽으로 이동시키기 위해 margin-left 추가 */
/* 가입하기 버튼 */
.input, select, button {
	width: 40%;
	margin-left: 220px; /* 오른쪽으로 이동하도록 수정 */
}

.input, select {
	font-weight: bold;
	width: 350px;
	margin-left: 95px; /* 오른쪽으로 이동하도록 수정 */
	height: 35px;
	border-radius: 5px;
	outline: none;
	border: none;
	background: #f5f5f5;
	color: #748194;
	font-size: 14px;
}

select {
	width: 380px;
}

.nickname-container input[type="text"] {
	margin-right: 1px;
}

.message {
	word-wrap: break-word;
}

.message, .error-message {
	height: 1.5em; /* 고정된 높이 설정 */
	display: block; /* 블록 레벨 요소로 설정 */
	margin-top: -15px; /* 상단 마진 추가 (옵션) */
	margin-bottom: 3px;
	margin-left: 95px;
	margin-top: -20;
}

#countdown {
	height: 1.5em; /* 고정된 높이 설정 */
	display: block; /* 블록 레벨 요소로 설정 */
	margin-top: -15px; /* 상단 마진 추가 (옵션) */
	margin-bottom: 3px;
	margin-left: 95px;
	margin-top: -20;
}

h5 {
	color: #212121;
	font-size: 23px;
	margin: 15px 0 30px 0;
	text-align: center;
}

.category-container input[type="button"] {
	margin-left: 95px;
	padding-right: 30px;
	padding-left: 30px;
}

body {
	font-family: Arial, sans-serif;
}

.checkbox-group {
	margin-bottom: 20px;
}

.checkbox-item {
	margin-bottom: 10px;
}

.view-link {
	color: blue;
	cursor: pointer;
	text-decoration: underline;
}

/* 체크박스 커스터마이징을 위한 스타일 */
.custom-checkbox {
	display: inline-block;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	font-size: 16px;
	user-select: none;
}

.custom-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border: 1px solid #ccc;
}

.custom-checkbox:hover input ~ .checkmark {
	background-color: #ccc;
}

.custom-checkbox input:checked ~ .checkmark {
	background-color: #2196F3;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
	display: block;
}

.custom-checkbox .checkmark:after {
	left: 7px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

#selectAll, #Java, #DataBase, #Web {
	margin-left: 95px; /* 전체동의를 오른쪽으로 이동 */
}

/* label에 display: block; 추가 */
label[for="selectAll"], label[for="Java"], label[for="DataBase"], label[for="Web"]
	{
	margin-right: 5px;
}

.button.primary {
	color: white;
	background: #0F3758;
	margin-top: 20px;
}

/* .nickname-container input[type="text"] { */
/* 	margin-right: 1px; */
/* } */
#nicknameCheckResult {
	height: 1.5em; /* 고정된 높이 설정 */
	display: block; /* 블록 레벨 요소로 설정 */
	margin-top: -15px; /* 상단 마진 추가 (옵션) */
	margin-bottom: 3px;
	margin-left: 95px;
	margin-top: -20;
}

select {
	margin-top: 10px;
}

.reset button {
	width: 280px;
}

#enroll {
	width: 140px;
	margin-top: 30px; /* 버튼 간격 조절을 위한 속성 */
	margin-left: 200px;
	margin-bottom: 20px;
}

#reset {
	width: 140px;
	margin-top: 30px; /* 버튼 간격 조절을 위한 속성 */
	margin-left: 10px;
	margin-bottom: 20px;
}

.footer {
	margin-top: 100px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#btnWrap {
	width: 500px;
	margin: 100px auto;
}

#popupBtn {
	width: 150px;
	height: 50px;
	padding: 10px 5px;
}

.modalWrap {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modalBody {
	width: 500px;
	height: 300px;
	padding: 30px 30px;
	margin: 0 auto;
	border: 1px solid #777;
	background-color: #fff;
}

.closeBtn {
	float: right;
	font-weight: bold;
	color: #777;
	font-size: 25px;
	cursor: pointer;
}

#address {
    width: 350px;
}

#emailCheck {
	height: 1.5em; /* 고정된 높이 설정 */
	display: block; /* 블록 레벨 요소로 설정 */
	margin-top: -15px; /* 상단 마진 추가 (옵션) */
	margin-bottom: -10px;
	margin-left: 95px;
	margin-top: -20;
}