.signin-wrapper {
    text-align: center;
}

/* .form-wrapper {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
} */

h5,
h3,
h4 {
    margin-bottom: 10px;
}

.primary {
    background-color: #3498db;
    color: white;
}

/* 텍스트 색상 변경 */
h4 {
    color: #777;
    font-size: 14px;
    margin-top: 30px;
}

.root {
    display: flex;
    width: 100%;
    height: 100%;
}

.mobile-root {
    flex-direction: column;

    .inactive {
        display: none;
    }
}

.signin-wrapper {
    flex-grow: 1;
    background: rgb(244, 244, 245);
    transition: all 0.32s ease-in;
}

.active {
    flex-grow: 6;

    &.form {
        z-index: 5;
    }
}

html,
body {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
}

h5 {
    color: #212121;
    font-size: 25px;
    margin: 15px 0 30px 0;
    text-align: center;
}

.form,
.form-wrapper {
    flex-direction: column;
    justify-content: center;
}

.form-wrapper {
    background-color: white;
    width: 400px;
    height: auto;
    padding: 20px 0;
    margin: 20px auto;
    border-radius: 15px;
}

button {
    cursor: pointer;
    font-weight: bold;
    width: 250px;
    margin: 0 80px 30px;
    height: 45px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 14px;
    margin-top: -15px;
}

.button.primary {
    color: white;
    background: #0F3758;

    &:hover {
        opacity: 0.9;
    }
}

.button.secondary {
    background: white;
    color: #0F3758;

    &:hover {
        background: #f5f5f5;
    }
}

.input,
select {
    font-weight: bold;
    width: 220px;
    margin: 0 80px 20px;
    height: 40px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #f5f5f5;
    color: #748194;
    font-size: 14px;
    margin-top: 20px;
}

select {
    font-weight: bold;
    width: 230px;
    /* Increase the width as needed */
    margin: 0 35px 20px;
    height: 35px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #f5f5f5;
    color: #748194;
    font-size: 14px;
}

.button.primary {
    color: white;
    background: #0F3758;

    &:hover {
        opacity: 0.9;
    }
}

p {
    color: #424242;
    font-size: 14px;
    text-align: center;

    a {
        cursor: pointer;
        color: #0F3758;

        &:hover {
            color: #009688;
        }
    }
}

.message {
    color: green;
}

.error-message {
    color: red;
}