#list{
	width:970px;
	margin-left: 540px;
	margin-top : 20px;
	margin-bottom : 50px;
}

#title{
	height: 100px; 
	padding-top: 50px; 
	margin-left: 20px;
}

#category{
	height: 100px; 
	display: flex; 
	padding-top:10px; 
	padding-bottom: 50px; 
	margin-left:20px; 
	margin-top:10px;
}

#main{
	width: 150px; 
	margin-right: 10px;
}

#sub{
	width: 150px;
}

#searchBarDiv{
	height: 50px;
}

#searchBar{
	margin-left:20px;
}

#searchBtn{
	border: 0px;
}

#announceList{
	margin-top: 30px;
}

.announce{
	border-bottom: 0.0625rem solid #f2f2f2; 
	width: 700px; 
	height: 100px; 
	display: flex; 
	flex-direction: column; 
	float: left; 
	margin-left: 20px;
}

.userName{
	width: 50px; 
	font-weight: 700; 
	margin-top: 10px;
}

.announceInfo{
	width: 300px; 
	font-size: .875rem; 
	margin-top: 5px;
}

.userText{
	width: 800px; 
	font-size: .75rem; 
	color: #737373; 
	margin-top: 5px;
}

.userImgDiv{
	border-bottom: 0.0625rem solid #f2f2f2;
	 width: 820px;
}

.userImg{
	width: 100px; 
	height: 100px;
}