
  

  
  .app {
    max-width: 1224px;
    width: 92%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .upload-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding-bottom: 10px;
  }
  
  .upload-header h2 {
    min-width: fit-content;
  }
  
  .server-message {
    width: 100%;
    padding: 16px;
    border-radius: 5px;
  }
  
  .input-div {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px dotted black;
    background-color: white;
    position: relative;
  }
  
  .input-div .browse {
    color: black;
    font-weight: bold;
  }
  
  .file {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .saved-div,
  .queued-div,
  #imageVideoContainer {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    border-radius: 5px;
    border: 2px dotted black;
    background-color: white;
  }
  
  .saved-div .image,
  .queued-div .image,
  .finalDetailImageBoxClass {
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
  }
  
  .saved-div .image:nth-child(4n),
  .queued-div .image:nth-child(4n),
  .finalDetailImageBoxClass:nth-child(4n) {
    margin-right: 0;
  }
  
  .saved-div .image img,
  .queued-div .image img, 
  .finalDetailImageBoxClass img{
  
    height: 100%;
    width: 100%;
  }
  
  
  .saved-div .image span,
  .queued-div .image span,
  .finalDetailImageBoxClass span {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    font-size: 22px;
    color: white;
    background-color: red;
    line-height: 13px;
    border-radius: 30%;
    text-align: center;
    height: 15px;
    width: 15px;
    
  }
  
  .saved-div .image span:hover,
  .queued-div .image span:hover,
  .finalDetailImageBoxClass span:hover {
    opacity: 0.8;
  }
  
  .saved-div .span--hidden,
  .queued-div .span--hidden,
  .finalDetailImageBoxClass .span--hidden{
    visibility: hidden;
  }