div{
    /* border: 1px solid black; */
    box-sizing: border-box;
}
.allPage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-container{
    width: 50vw;
}
.item{
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .item h2,.banner-item h2{
    font-size: 1.125rem;
    font-weight: bold;
  }
  .workBox{
    /* background-color: aqua; */
    grid-column: span 2;
    word-wrap: break-word;
  }
  .edit{
    display: flex;
    justify-content: flex-end;
  }
  .editBtn{
    background-color: white;
    border: none;
    color:#7752FE;
    font-weight: bold;
    padding: 0;
    height: 20px;
  }
  .saveBtn{
    background-color: white;
    border: none;
    color: red;
    font-weight: bold;
    padding: 0;
    height: 20px;
    display: none;
  }
  .editBtn:hover{
    cursor: pointer;
  }
  .profileImg{
    border: 1px solid lightgray;
    border-radius: 10px;
  }
.progressContainer{
	position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  #progress{
    width: 500px;
    background-color: #C2D9FF;
    border-radius: 10px;
    height: 10px;
  }
  #bar{
    width: 1%;
    background-color: #190482;
    height: 10px;
    text-align: center;
    border-radius: 10px;
  }
  .barPercentage{
    color: #7752FE;
  }
  .profileContainer{
    display: grid;
    grid-template-columns: 1fr 4fr;

  }
  .profileDetailInfo{
    display: grid;
    grid-template-rows: 2fr 1fr;
  }
  .reviewData{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    list-style-type: none;
    padding: 10px 20px;
    margin: 0;
  }
  .profile-item div{
    text-align: center;
  }
  .divider{
    border: 1px solid gray;
    height: 10px;
  }
  .dividerBox{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profileDetail-2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .profileDetail-2 a{
    border: 1px solid black;
    text-decoration: none;
    color:#7752FE;
    border-radius: 5px;
    width: 40%;
    height: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profileDetail-2 a:nth-child(1){
    background-color: #7752FE;
    color: white;
  }
  .categery-container{
  	display: flex;
  	flex-wrap: wrap;
	width: 100%;
  }
  .category-box{
    border: 1px solid #e1e1e1;
    border-radius: 21px;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
  }
  #serviceAdd{
    background-color: #7752FE;
    color: white;
  }
  .selectTime{
    display: flex;
    width: 60%;
  }
  .selectTime span{
    align-self: flex-end;
    font-size: 13px;
    white-space: nowrap;
  }

 .answered-box-result ul, .question-hidden-workBox ul{
  list-style-type: none;
 	 padding: 0;	
 }
 .question-box{
    font-weight: bold;
 }
 .question-box~textarea{
  margin-top: 5px;
  width: 100%;
  border-radius: 5px;
 }
 .workBox:nth-child(15){
  display: flex;
  justify-content: flex-start;
 }
 .detailDescription{
  margin-top: 5px;
  width: 100%;
  border-radius: 5px;
  display: none;
 }
.bannerContainer{
  position: fixed;
  top: 75px;
  height: 80vh;
}
.bannerAndInfoContainer{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 20px;
}
.banner-item{
  border: 1px solid lightgray;
  border-radius: 10px;
  width:300px;
  height: 300px;
  margin-bottom: 10px;
  padding: 20px;
  /* width: 100%;
  height: 100%; */
}
  .swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 10%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
:root {
    --swiper-navigation-color: #7752fe;
    --swiper-pagination-bullet-size: 16px;
    --swiper-pagination-color: #7752fe;
}
.profilePercentageBanner:nth-child(1){
  height: 15%
}
.profilePercentageBanner:nth-child(2){
  height: 85%;
}

.banner-item:nth-child(2){
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.reviewMember:nth-child(1){
  height: auto;
}
.reviewMember:nth-child(2){
  display:grid;
  align-self: center;
  margin-bottom: 15%;
  width: 100%;
  height: 60%;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  row-gap: 20px;
}
.exchangedMember{
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 60%;
  margin: 0px;
}
.exchangedMember:nth-child(odd){
	margin-left: 45px;
	margin-right: 5px;
}
.exchangedMember:nth-child(even){
	margin-right: 30px;
	margin-left: 10px;
	
}
[class$='hidden-workBox']{
	
  width: 100%;
  grid-column: span 2;
}
.profileTextArea{
  width: 100%;
  box-sizing: border-box;
  height: 100px;
  border-radius: 4px;
}
#nickname-box{
width: 100%;
box-sizing: border-box;
  height: 50px;
  border-radius: 4px;
}
.maximumtextBox{
  display: flex;
  color: #b5b5b5;
  width: 100%;
}
.maxiMumTextItem:nth-child(1){
	width: 50%;
	display: flex;
	justify-content: start;
}
.maxiMumTextItem:nth-child(2){
	width: 50%;
	display: flex;
	justify-content: end;
}
#minNumAlertMsg{
	
	color: red;
	font-size: 0.875rem;
}
#minNum30{
	display: flex;
}
.currNumber{
  color: #7752FE;
  font-weight: bold;
}
.maxNumText{
  font-size: 0.875rem;
}
#checkIcon{
	margin-left: 5px;
	padding-top: 2px;
	font-size: bold;
}
.insideSlideBtn{
	background-color: #7752FE;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	padding: 6px;
}
.swiper-slide p{
}

