body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.footer {
    border-top: 0.0625rem solid #f2f2f2;
}

.container {
    max-width: 60.625rem;
    margin: 20px auto 0;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-direction: column;
}

.contact {
    padding-bottom: 0.1875rem;
    font-size: 1.25rem;
    font-weight: 500;
    font-stretch: normal;
    color: #737373;
}

.middle-text {
    margin: 0;
    font-size: 0.875rem;
    line-height: normal;
    letter-spacing: normal;
    color: #737373;
}

.term-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}



.term-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

#a1,#a2,#a3,#a4{
    margin-right: 15px;
    font-weight: 100;
    text-decoration: none; /* 밑줄 제거 */
    font-weight: bold; /* 폰트 두껍게 설정 */
}
