
/* @media (max-width: 800px) {
    .header1 {
        display: none !important;
    }

    .hearder2 {
        display: block !important;
    }
} */

/* .hearder2 {
        display: none;
    } */

body {
    margin: 0;
}

.header {
    border-bottom: 0.0625rem solid #f2f2f2;
    position: sticky;
    height: 72px;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 1;
    font-family: 'Noto Sans KR', sans-serif;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 72px;
}

.header-element {
    margin: 20px;
}

.header-Btn{
    text-decoration: none;
    color: black;
}

.center-selection{
    margin-left: 20px;
    margin-right: 20px;
}

.logo{
    width: 70px;
    height: 60px;
}

#dropdownMenu{
	display: none;
    right: 700px;
    left: 1525px;
	/* margin-left: 1325px; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
