
.allPage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-container{
    display: grid;
    grid-template-columns: 1fr;
    width: 30vw;
}
.item{
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .item h2{
    font-size: 1.125rem;
    font-weight: bold;
  }
  .workBox{
    grid-column: span 2;
    word-wrap: break-word;
  }
  .edit{
    display: flex;
    justify-content: flex-end;
  }
  .editBtn{
    background-color: white;
    border: none;
    color:#7752FE;
    font-weight: bold;
    padding: 0;
    height: 20px;
  }
  .saveBtn{
    background-color: white;
    border: none;
    color: red;
    font-weight: bold;
    padding: 0;
    height: 20px;
    display: none;
  }
  .editBtn:hover{
    cursor: pointer;
  }
.progressContainer{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  #progress{
    width: 500px;
    background-color: #C2D9FF;
    border-radius: 10px;
    height: 10px;
  }
  #bar{
    width: 1%;
    background-color: #190482;
    height: 10px;
    text-align: center;
    border-radius: 10px;
  }
  .barPercentage{
    color: #7752FE;
  }
  .profileContainer{
    display: grid;
    grid-template-columns: 1fr 4fr;

  }
  .profileDetailInfo{
    display: grid;
    grid-template-rows: 2fr 1fr;
  }
  .reviewData{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    list-style-type: none;
    padding: 10px 20px;
    margin: 0;
  }
  .profile-item div{
    text-align: center;
  }
  .divider{
    border: 1px solid gray;
    height: 10px;
  }
  .dividerBox{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profileDetail-2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .profileDetail-2 a{
    border: 1px solid black;
    text-decoration: none;
    color:#7752FE;
    border-radius: 5px;
    width: 40%;
    height: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profileDetail-2 a:nth-child(1){
    background-color: #7752FE;
    color: white;
  }
  .categery-container{
    display: flex;
  }
  .category-box{
    border: 1px solid #e1e1e1;
    border-radius: 21px;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
  }
  .category-box:nth-child(1){
    background-color: #7752FE;
    color: white;
  }
  .selectTime{
    display: flex;
    width: 60%;
  }
  .selectTime span{
    align-self: flex-end;
    font-size: 13px;
    white-space: nowrap;
  }
 .question-answer-box ul{
  list-style-type: none;
  padding: 0;
 }
 .question-box{
    font-weight: bold;
 }
 .question-box+textarea{
  margin-top: 5px;
  width: 100%;
  border-radius: 5px;
  display: none;
 }
 .workBox:nth-child(15){
  display: flex;
  justify-content: flex-start;
 }
 .detailDescription{
  margin-top: 5px;
  width: 100%;
  border-radius: 5px;
  display: none;
 }
