<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
  <mapper namespace="announceMapper">
  	<resultMap type="mainCategory" id="mainCategoryResultSet">
  		<result column="CATEGORY_NO" property="categoryNo"/>
  		<result column="CATEGORY_NAME" property="categoryName"/>
  	</resultMap>
  	
  	<resultMap type="detailCategory" id="detailCategoryResultSet">
  		<result column="DETAIL_NO" property="detailNo"/>
  		<result column="DETAIL_NAME" property="detailName"/>
  	</resultMap>
  	<select id="selectMainCategory" resultMap="mainCategoryResultSet">
  		SELECT *
		FROM MAIN_CATEGORY
  	</select>
  	<select id="selectDetailCategory" resultMap="detailCategoryResultSet">
  		SELECT DETAIL_NO
  			  ,DETAIL_NAME
  		FROM DETAIL_CATEGORY
  		WHERE STATUS = 'Y'
  		AND CATEGORY_NO IN
  		<foreach collection="array" item="arr" open="(" close=")" separator=",">
		 #{arr}
		</foreach>
  	</select>
  </mapper>