<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="memberMapper">
  		<resultMap type="member" id="memberResultSet">
  			<result column="USER_NO" property="userNo"/>
  			<result column="EMAIL" property="email"/>
  			<result column="USER_PASSWORD" property="userPassword"/>
  			<result column="USER_NICKNAME" property="userNickName"/>
  			<result column="USER_NAME" property="userName"/>
  			<result column="PHONE" property="phone"/>
  			<result column="ENROLLDATE" property="enrollDate"/>
  			<result column="GENDER" property="gender"/>
  			<result column="ADDRESS" property="address"/>
  			<result column="IMAGES" property="images"/>
  			<result column="USER_POINT" property="userPoint"/>
  			<result column="STATUS" property="status"/>
  		</resultMap>
  		
  		
		<!-- 회원가입 -->
  		<insert id="insertMember" parameterType="member">
	  		INSERT INTO MEMBER ( 
	  		         USER_NO
	                ,EMAIL
	                ,USER_PASSWORD
	                ,USER_NICKNAME
	                ,ADDRESS)
			VALUES (
	               SEQ_MNO.NEXTVAL
	              ,#{email}
	        	  ,#{userPassword}
	        	  ,#{userNickName}
	        	  ,#{address}
			)
  		</insert>
  		
  		<insert id="insertProfile">
  			INSERT INTO PROFILE (PROFILE_NO,USER_NO)
  			VALUES(SEQ_PNO.NEXTVAL,SEQ_MNO.CURRVAL)
  		</insert>
  		<insert id="insertQAcomment">
  			INSERT INTO QA_COMMENT (QN_ANSWER_NO, USER_NO, CREATE_DATE, QN_NO, QNA_TYPE, QA_ANSWER, QUESTION_NUM)
			SELECT SEQ_QACOMMENT.NEXTVAL, SEQ_MNO.CURRVAL, SYSDATE, 0, 'profile-comment', '', LEVEL
			FROM DUAL
			CONNECT BY LEVEL &lt;= 5
			 
  		</insert>
  		<insert id="insertBasicImage">
  			INSERT INTO ATTACHMENT(AT_NO
									,ORIGIN_NAME
									,CHANGE_NAME
									,UPLOAD_DATE
									,FILE_LEVEL
									,FILE_TYPE
									,REF_NO)
			VALUES(
				SEQ_ATT.NEXTVAL
			   ,''
			   ,''
			   ,''
			   ,0
			   ,'profile-picture'
			   ,SEQ_PNO.CURRVAL
			)
			
  		</insert>
  		<!-- 로그인 -->
  		<select id="loginMember" parameterType="member" resultMap="memberResultSet">
  			SELECT 
		        USER_NO,
		        EMAIL,
		        USER_PASSWORD,
		        USER_NICKNAME,
		        USER_NAME,
		        PHONE,
		        ENROLLDATE,
		        GENDER,
		        ADDRESS,
		        IMAGES,
		        USER_POINT,
		        STATUS
		    FROM MEMBER 
		    WHERE EMAIL = #{email}
		    AND STATUS ='Y'
  		</select>
  		
  		
  		<!-- 별명 중복체크 -->
  		<select id="nickname" resultType="_int" parameterType="string">
  			SELECT count(*)
			FROM MEMBER 
			WHERE USER_NICKNAME= #{userNickname}
  		</select>
  		
  		<!-- 이메일 중복체크 -->
  		<select id="emailck" resultType="_int" parameterType="string">
  			SELECT count(*)
			FROM MEMBER 
			WHERE EMAIL= #{email}
  		</select>
  		
  
  </mapper>