<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="profileMapper">
  	<resultMap type="image" id="imageResultSet">
  		<result column="AT_NO" property="atNo"/>
  		<result column="ORIGIN_NAME" property="originName"/>
  		<result column="CHANGE_NAME" property="changeName"/>
  		<result column="UPLOAD_DATE" property="uploadDate"/>
  		<result column="FILE_LEVEL" property="fileLevel"/>
  		<result column="FILE_TYPE" property="fileType"/>
  		<result column="REF_NO" property="refNo"/>
  	</resultMap>
  	<resultMap type="profile" id="profileResultSet">
  		<result column="PROFILE_NO" property="profileNo"/>
  		<result column="REVIEW_COUNT" property="reviewCount"/>
  		<result column="REVIEW_AVERAGE" property="reviewAverage"/>
  		<result column="SUB_SERVICE" property="subService"/>
  		<result column="MAIN_SERVICE" property="mainService"/>
  		<result column="ONELINE_INTRO" property="oneLineIntro"/>
  		<result column="APPROVE_YN" property="approveYN"/>
  		<result column="PHONE_AVAILABLE" property="phoneAvailable"/>
  		<result column="SERVICE_DETAIL_CONTENT" property="serviceDetailContent"/>
  		<result column="CHANGE_NAME" property="changeName"/>
  	</resultMap>
  	<resultMap type="QA_comment" id="QA_commentResultSet">
  		<result column="QA_ANSWER" property="qaAnswer"/>
  		<result column="QUESTION_NUM" property="questionNum"/>
  	</resultMap>
  	<insert id="uploadImages" parameterType="java.util.HashMap"> 
		INSERT INTO ATTACHMENT(AT_NO
		                      ,ORIGIN_NAME
		                      ,CHANGE_NAME
		                      ,UPLOAD_DATE
		                      ,FILE_TYPE
		                      ,REF_NO) 
		SELECT SEQ_ATT.NEXTVAL, A.* 
		FROM ( 
		<foreach collection="imageList" item="item" separator="UNION ALL "> 
		SELECT #{item.originName} AS ORIGIN_NAME
			  ,#{item.changeName} AS CHANGE_NAME
			  ,SYSDATE
			  ,#{item.fileType} AS FILE_TYPE
			  ,#{item.refNo} AS REF_NO
		FROM DUAL 
		</foreach> 
		) A 
	</insert>
	<select id="selectDetailImages" resultMap="imageResultSet">
		SELECT AT_NO
		      ,ORIGIN_NAME
		      ,CHANGE_NAME
		FROM ATTACHMENT
		WHERE REF_NO = #{userNo}
		AND FILE_TYPE = 'detail-image'
	</select>
	<update id="updateNickname">
		UPDATE MEMBER
		SET USER_NICKNAME = #{changedNickname}
		WHERE USER_NO = #{userNo}
	</update>
	<update id="updateSubCategory">
		UPDATE PROFILE
		SET SUB_SERVICE = #{realCheckedCategory}
		WHERE USER_NO = #{userNo}
	</update>
	<select id="selectAllProfileInfo" resultMap="profileResultSet">
		SELECT PROFILE_NO 
				,REVIEW_COUNT 
				,REVIEW_AVERAGE 
				,MAIN_SERVICE
				,SUB_SERVICE
				,ONELINE_INTRO 
				,APPROVE_YN 
				,PHONE_AVAILABLE 
				,SERVICE_DETAIL_CONTENT 
				,CHANGE_NAME
		FROM PROFILE P
		JOIN ATTACHMENT A ON(PROFILE_NO=REF_NO)
		WHERE USER_NO = #{userNo}
        AND FILE_TYPE = 'profile-picture'
		
	</select>
	<update id="updateMainCategory">
		UPDATE PROFILE
		SET MAIN_SERVICE = #{realCheckedCategory}
		WHERE USER_NO = #{userNo}
	</update>
	<update id="updateOneLineIntroduce">
		UPDATE PROFILE
		SET ONELINE_INTRO = #{changedText}
		WHERE USER_NO = #{userNo}
	</update>
	<update id="updateAddress">
		UPDATE MEMBER
		SET ADDRESS = #{address}
		WHERE USER_NO = #{userNo}
	</update>
	<update id="updateTime">
		UPDATE PROFILE
		SET PHONE_AVAILABLE = #{changedTime}
		WHERE USER_NO = #{userNo}
	</update>
	<update id="updateDetailDescription">
		UPDATE PROFILE
		SET SERVICE_DETAIL_CONTENT = #{changedDescription}
		WHERE USER_NO = #{userNo}
	</update>
	<update id="uploadProfilePicture">
		UPDATE ATTACHMENT
        SET ORIGIN_NAME = #{image.originName}
            ,CHANGE_NAME = #{image.changeName}
            ,UPLOAD_DATE = SYSDATE
        WHERE FILE_TYPE = 'profile-picture'
        AND REF_NO = #{profileNo}
	</update>
	<update id="updateQuestion"  parameterType="java.util.HashMap">
		<foreach collection="list" item="QA_comment" open="DECLARE BEGIN" separator=";" close="; END;"> 
			UPDATE QA_COMMENT
			SET QA_ANSWER = #{QA_comment.qaAnswer}
			WHERE USER_NO = #{userNo}
			AND QUESTION_NUM = #{QA_comment.questionNum}
			AND QNA_TYPE = 'profile-comment'
		</foreach>
	</update>
	
	<select id="selectQuestionComment" resultMap="QA_commentResultSet">
		SELECT QA_ANSWER
		      ,QUESTION_NUM 
		FROM QA_COMMENT
		WHERE USER_NO = #{userNo}
		AND QNA_TYPE = 'profile-comment'
	</select>
	<delete id="deleteExistedImages">
		<foreach collection="array" item="item" open="DECLARE BEGIN" separator=";" close="; END;"> 
			DELETE FROM ATTACHMENT
			WHERE AT_NO = #{item}
		</foreach>
	</delete>
	<delete id="deleteOneDetailImage">
		DELETE FROM ATTACHMENT
		WHERE AT_NO = #{atNo}
	</delete>
  </mapper>